<div class="mt-4 p-8 bg-gray-200 rounded-lg">
  <p>
    This list is empty, you can remove it.
  </p>

  <form action="/list/delete/{{ list.id }}" method="POST">
    <button>Delete</button>
  </form>
</div>