{% graphql lists = 'index' | fetch: 'models' | fetch: 'results' %}

<ol>
  {% for list in lists %}
    <li>
      <a href="/list/show/{{ list.id }}">{{ list.title }}</a>
    </li>
  {% endfor %}
</ol>

<div x-data="{ open: false }">

  <button
    @click.prevent="open = !open"
    x-show="open !== true"
    class="button-primary">
    New list
  </button>

  <form
    action="/list/create"
    method="POST"
    x-show="open === true">
    <input type="text" name="title" placeholder="List title" required>
    <button class="button-primary">Create</button>
    <button @click.prevent="open = false">Cancel</button>
  </form>
</div>
